# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# OS Files
.DS_Store
Thumbs.db

# IDEs & Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Log files
*.log
